<div class="container processChecklistParentContainer" ng-controller="processchecklistController2">

<div class="processChecklistHeader">


	<table style="width: 100%;">
		<tr>
			<td><h3 ng-click="showCompletedCheckLists(1)"> Project Checklist - of

				<select >
					<option >9/15 - 9/30</option>
					<option >9/1 - 9/15</option>
					<option >8/15 - 9/1</option>
				</select>

			</h3> </td>  <td> <h5><a ng-show="showCompleteLabel" style="float: right; margin-right: 10px;" ng-click="showCompletedCheckLists(0)"> Completed items list  </a></h5> </td>
		</tr>
		<tr><h5> <td> <a>Past checklist items</a></td></h5></tr>
		</table>


</div>

	<div ng-repeat="key in keys(checkListArray)">

		<div class="{{ getTitleBackgroundClass(key) }}" >
			 {{key}}
		</div>


		<div class="processChecklistContainer" >
			<ul>
			<li class="processItem" ng-repeat="(title, statusValue) in checkListArray[key]">
				<!--<div class="processCheckListSubTitle">{{ title }}</div>-->

				{{ title }}

				
				
				
<!--				data-target="#myModal"   data-toggle="modal"-->
				
				<!--<div>-->
				<button  id="btnStatus" ng-click="showActionButtons = !showActionButtons ; checkListItemComplete(key, title, checklistStatus);  checklistStatus = 'complete'; " class="{{ getClassValue(statusValue) }}"> {{checklistStatus}}</button>
				
				<button type="button" ng-click="setSelectedChecklistTitle(title);" class="btn btn-default checkListNotesBtn" data-toggle="modal" 	data-target="#exampleModal"  >
  Notes
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{ selectedChecklistTitle }}</h4>
      </div>
      <div class="modal-body">
        <form>
       
          <div class="form-group">
            <label for="message-text" class="control-label">Notes:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!-----------Model End--------------->				
				
				
				
				

				<div  class="processActionContainer" ng-show="showActionButtons">

					<button class="btn btn-success"  ng-click = "setCheckListStatus(key, title, 'g'); checklistStatus = ''; showActionButtons = !showActionButtons"> Green </button>
					<button class="btn btn-warning"  ng-click = "setCheckListStatus(key, title, 'a'); checklistStatus = ''; showActionButtons = !showActionButtons"> Amber </button>
					<button class="btn btn-danger"   ng-click = "setCheckListStatus(key, title, 'r'); checklistStatus = ''; showActionButtons = !showActionButtons"> Red </button>

					<button class="btn btn-info"   ng-click = "setCheckListStatus(key, title, 'n'); checklistStatus = 'NA'; showActionButtons = !showActionButtons"> NA </button>
				</div>
				<!--</div>-->

			</li>
			</ul>
		</div>


	</div>
</div>


